exitonerror=false
adminServerListenAddress=0.0.0.0
adminServerName={{ admin_server_name|default('AdminServer') }}
domName={{ dom_name|default('NDelius') }}
userName={{ admin_user_name|default('weblogic') }}
passWord={{ admin_password|default('webl0gic') }}
overWriteRootDir=true
TimeOut=240000
startedNewServer=0
domainDir=/u01/app/oracle/middleware/user_projects/domains/{{ dom_name|default('NDelius') }}
adminServerListenPort=7001
startServerJvmArgs=-Xms2048m -Xmx2048m -XX:MaxPermSize=256m

applicationDatabaseHost={{ database.host }}
applicationDatabasePort={{ database.port|default('1521') }}
applicationDatabaseSID={{ database.sid|default('DNDA') }}
deliusPoolPassword={{ database.password|default('NDelius1') }}
oidPrincipal={{ oid.principal|default('cn=orcladmin') }}
oidHost={{ oid.host }}
oidPrincipalPassword={{ oid.password|default('oradir1') }}
oidUserBaseDN=cn=Users,{{ oid.base|default('dc=mojaws,dc=internal') }}
oidGroupBaseDN=cn=EISUsers,cn=Users,{{ oid.base|default('dc=mojaws,dc=internal') }}