exitonerror=false
adminServerListenAddress=0.0.0.0
adminServerName={{ admin_server_name|default('AdminServer') }}
domName={{ dom_name|default('NDelius') }}
userName={{ admin_user_name|default('weblogic') }}
passWord={{ admin_password|default('webl0gic') }}
overWriteRootDir=true
TimeOut=240000
startedNewServer=0
domainDir=/u01/app/oracle/middleware/user_projects/domains/{{ dom_name|default('NDelius') }}
adminServerListenPort=7001
startServerJvmArgs=-Xms2048m -Xmx2048m -XX:MaxPermSize=256m

# TODO parameterise:
applicationDatabaseHost=delius-db.dev.delius-core.probation.hmpps.dsd.io
applicationDatabasePort=1521
applicationDatabaseSID=DNDA
deliusPoolPassword=NDelius1
oidPrincipal=cn=orcladmin
oidHost=oid-admin-instance.dev.delius-core.probation.hmpps.dsd.io
oidPrincipalPassword=oradir1
oidUserBaseDN=cn=Users,dc=mojaws,dc=internal
oidGroupBaseDN=cn=EISUsers,cn=Users,dc=mojaws,dc=internal