exitonerror=false
adminServerListenAddress={{ server_listen_address }}
adminServerListenPort={{ server_listen_port }}
adminServerName={{ server_name }}
domName={{ domain_name }}
userName={{ weblogic_admin_username }}
startServerJvmArgs={{ server_params }}
overWriteRootDir=true
TimeOut=240000
startedNewServer=0
domainDir={{ domain_home }}