exitonerror=false
adminServerListenAddress={{ server_listen_address }}
adminServerListenPort={{ server_listen_port }}
adminServerName={{ server_name }}
domName={{ domain_name }}
userName={{ server_username }}
passWord={{ server_password }}
startServerJvmArgs={{ server_params }}
overWriteRootDir=true
TimeOut=240000
startedNewServer=0
domainDir=/u01/app/oracle/middleware/user_projects/domains/{{ domain_name }}