dss.web.service.details.path=/u01/software/EIS/offloc/DSSWebService.properties
key.file.path=/u01/software/EIS/offloc/DSSWebService.keyfile
consolidated.prison.file.path=/u01/software/EIS/offloc/PRISON_FILE/consolidated_prison_file.xml
encryption.initialisation.vector=K<[}-+29i=/.,;'#