	# FILE TRANSFER CONFIGURATION 

# Path to the encrypted file containing details for accessing HMPS staging server
hmps.server.details.path=/u01/software/EIS/offloc/HMPSServerDetails.properties

# Path to the symmetric key file required to decrypt the HMPS staging server details
key.file.path=/u01/software/EIS/offloc/HMPSServerDetails.keyfile

# Path specifying the local file system location where the OFFLOC file should be saved to.
offloc.file.path=/u01/software/EIS/offloc/offloc.zip

# Extension of the P-NOMIS zip entry within the OFFLOC file
pnomis.file.extension=dat

# Extension of the LIDS zip entry within the OFFLOC file 
# *** N.B. this MUST be commented out if the OFFLOC file does not contain a LIDS data file otherwise the application will terminate immediately ***
#lids.file.extension=ped

# Path specifying the local file system location where the consolidated prison file should be created.
consolidated.prison.file.path=/u01/software/EIS/offloc/consolidated_prison_file.xml

# The deployment location of the File Importer application.
file.importer.deployment.directory=/u01/software/EIS/fileimporter

# The operating system command that should be used to invoke the File Importer application.
file.importer.startup.command=cd /u01/software/EIS/fileimporter && java -Xms256m -Xmx512m -cp fileimporter.jar:resource uk.co.bconline.ndelius.dss.fileimporter.FileImporter

# 16 byte encryption IV. (this will be used when reading the encrypted HMPS server resource bundle and MUST match the IV used during encryption. 
encryption.initialisation.vector=K<[}-+29i=/.,;'#

#Attempt to auto correct files
offloc.testing.autocorrect=false

#Location of WinZip command line executable
winzip.path=/usr/bin/unzip

# TEST MODE CONFIGURATION

# Specifies whether or not the File Transfer application should run in test mode. (i.e. read OFFLOC file from the local file system)
#test.mode=true

# Path to an OFFLOC file that should be used in a test environment.
#test.offloc.file.path=D:/DSSRun/ACL/files/offloc_file/testfile/offloc_TEST.zip

# Switch between using WinZip command line (Default) or Native Java ZipFile.  
use.java.zipfile=true