exitonerror=false
adminServerListenAddress={{ server_listen_address }}
adminServerListenPort={{ wl_port }}
adminServerName={{ server_name }}
domName={{ domain_name }}
userName={{ weblogic_admin_username }}
startServerJvmArgs={{ server_params }}
overWriteRootDir=true
TimeOut=240000
startedNewServer=0
domainDir={{ domain_home }}

databaseURL={{ database_url }}
databaseMinPoolSize={{ database_min_pool_size }}
databaseMaxPoolSize={{ database_max_pool_size }}

psDatabaseURL=jdbc:postgresql://delius-perf-delius-gdpr-primary-db.c4u6bvsohywz.eu-west-2.rds.amazonaws.com:5432/gdpr

{% if ldap_host is defined %}
ldapPrincipal={{ ldap_principal }}
ldapHost={{ ldap_host }}
ldapPort={{ ldap_port }}
ldapUserBaseDN={{ ldap_user_base }}
ldapGroupBaseDN={{ ldap_group_base }}
{% endif %}
