exitonerror=false
adminServerListenAddress={{ server_listen_address }}
adminServerListenPort={{ server_listen_port }}
adminServerName={{ server_name }}
domName={{ domain_name }}
userName={{ server_username }}
passWord={{ server_password }}
startServerJvmArgs={{ server_params }}
overWriteRootDir=true
TimeOut=240000
startedNewServer=0
domainDir=/u01/app/oracle/middleware/user_projects/domains/{{ domain_name }}

applicationDatabaseHost={{ database_host }}
applicationDatabasePort={{ database_port }}
applicationDatabaseSID={{ database_sid }}
deliusPoolPassword={{ database_password }}
oidPrincipal={{ oid_principal }}
oidHost={{ oid_host }}
oidPrincipalPassword={{ oid_password }}
oidUserBaseDN=cn=Users,{{ oid_base }}
oidGroupBaseDN=cn=EISUsers,cn=Users,{{ oid_base }}