exitonerror=false
adminServerListenAddress={{ server_listen_address }}
adminServerListenPort={{ server_listen_port }}
adminServerName={{ server_name }}
domName={{ domain_name }}
userName={{ weblogic_admin_username }}
startServerJvmArgs={{ server_params }}
overWriteRootDir=true
TimeOut=240000
startedNewServer=0
domainDir={{ domain_home }}

databaseURL={{ database_url }}
databasePoolSize={{ database_pool_size }}

{% if ldap_host is defined %}
ldapPrincipal={{ ldap_principal }}
ldapHost={{ ldap_host }}
ldapPort={{ ldap_port }}
ldapUserBaseDN={{ ldap_user_base }}
ldapGroupBaseDN={{ ldap_group_base }}
{% endif %}