defaults
  mode http
  timeout connect 30s
  timeout client 5m
  timeout server 5m

listen l1
  bind *:{{ server_listen_port }}
  http-request add-header WL-Proxy-SSL true
  server local localhost:{{ wl_port }} init-addr last,libc,none