# User data store config
{% if ldap_host is defined %}
LDAPURI=ldap://{{ ldap_readonly_host }}:{{ ldap_port }}
LDAPURI_WRITABLE=ldap://{{ ldap_host }}:{{ ldap_port }}
{% else %}
LDAPURI=ldap://localhost:3060
TEST_MODE=true
{% endif %}
PASSWORD_FILE={{ ldap_passfile }}
USER_CONTEXT={{ ldap_user_base }}
EIS_USER_CONTEXT=cn=EISUsers,{{ ldap_user_base }}
ND_USER_TYPE=NDUser
ND_ROLE_TYPE=NDRole
ND_ROLE_ASSOCIATION_TYPE=NDRoleAssociation
ROLE_GROUP_TYPE=NDRoleGroup
COLOUR_PREFERENCES_TYPE=colourPreferences
FUNCTIONAL_AUTHORISATION_TYPE=UIBusinessInteractionCollection
USER_PREFERENCES_TYPE=UserPreferences
USER_HOME_AREA_ATTRIBUTE=userHomeArea
BUSINESS_INTERACTION_ATTRIBUTE=businesscategory
ND_END_DATE=endDate
ND_ROLE_CATALOGUE_RDN=cn=ndRoleCatalogue
ND_ROLE_GROUP_RDN=cn=ndRoleGroups
LDAP_TIMEOUT=100000
CACHESIZE=20
LOADSIZE=0.75
DISABLE_IN_MEMORY_ENCRYPTION=false

# Homepage display details
ND_TRAINING_MODE={{ ndelius_training_mode }}
TRAINING_MODE_APP_NAME={{ ndelius_display_name }}
PROTECTED_MARKING_LEVEL=OFFICIAL

# Development/debugging
LOG_PERF_MON=false

# Document template pdf generator
PDFCREATION_TEMPLATES={{ newtech_pdfgenerator_templates }}
PDFCREATION_URL={{ newtech_pdfgenerator_url }}
PDFCREATION_SECRET={{ newtech_pdfgenerator_secret }}

# New national search
ELASTICSEARCH_URL={{ newtech_search_url }}

# User management
USERMANAGEMENT_URL={{ usermanagement_url }}
USERMANAGEMENT_SECRET={{ usermanagement_secret }}
PASSWORD_RESET_URL={{ password_reset_url | default('') }}

# Google analytics
ANALYTICS_TAG={{ ndelius_analytics_tag }}

# Document management
DMS_HOST={{ alfresco_host | regex_replace('\.$', '') }}
DMS_PORT={{ alfresco_port }}
DMS_OFFICE_URI_HOST={{ alfresco_office_host | regex_replace('\.$', '') }}
DMS_OFFICE_URI_PORT={{ alfresco_office_port }}

# Approved Premises Tracker
# The APTRACKER_ERRORS_SECRET is left here for backwards compatibility with ND<=4.5.3 only, and will be removed/replaced by USERMANAGEMENT_SECRET in a future build
# TODO remove this property once the NDelius change has been deployed to production and we're confident there is no need to rollback
APTRACKER_ERRORS_SECRET={{ usermanagement_secret }}
APTRACKER_ERRORS_URL={{ aptracker_api_errors_url | default('') }}

GDPR_URL=/gdpr/ui/homepage

# Prepare a case for sentencing
{% if prepare_a_case_url is defined %}
PREPARE_CASE_FOR_SENTENCE_URL={{prepare_a_case_url | default('')}}
{% endif %}


{% if ndelius_oauth_config is defined %}
OAUTH_CLIENT_ID={{ ndelius_oauth_config.client_id }}
OAUTH_CLIENT_SECRET={{ lookup('aws_ssm', ndelius_oauth_config.client_secret, region=region) }}
OAUTH_URL={{ ndelius_oauth_config.url }}
OAUTH_CALLBACK_URL={{ ndelius_oauth_config.callback_url }}
OAUTH_USER_INFO_ENDPOINT={{ ndelius_oauth_config.user_info_endpoint }}
OAUTH_DELIUS_USERNAME_ATTRIBUTE={{ ndelius_oauth_config.username_attribute }}
OAUTH_LOGIN_NAME={{ ndelius_oauth_config.display_name }}
OAUTH_DEFAULT_SCOPE={{ ndelius_oauth_config.scope }}
{% endif %}